<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Covid-19 Tracker + countries</h1>
    <hr>
    <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto saepe officia sint cupiditate aliquam quidem
        accusantium rerum asperiores incidunt delectus totam voluptas aliquid neque perspiciatis, id minima sed quaerat
        sit.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet saepe perferendis consectetur. Inventore molestias
        quam reprehenderit possimus placeat at reiciendis delectus. Iure, eius. Facilis eum temporibus a nihil et animi!
    </p>
</div>